{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Home</h4>

    <div class="row">
      <div class="col-md-3">
        <div class="card card-stats card-warning">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="la la-users"></i>
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Tasks</p>
                  <h4 class="card-title">{{total_tasks}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-stats card-primary">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="la la-check-circle"></i>
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Completed</p>
                  <h4 class="card-title">{{tasks_completed_this_week}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-tasks">
          <div class="card-header ">
            <h4 class="card-title">Tasks</h4>
            <p class="card-category">To Do List</p>
          </div>
          <div class="card-body ">
            <div class="table-full-width">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input  select-all-checkbox" type="checkbox" data-select="checkbox" data-target=".task-select">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </th>
                    <th>Task</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in home %}
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input task-select" type="checkbox">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>{{ task.title }}</td>
                    <td class="td-actions text-right">
                      <div class="form-button-action">
                        <a href="{% url 'task-update' task.id %}" data-toggle="tooltip" title="Edit Task" class="btn btn-link btn-simple-primary">
                          <i class="la la-edit"></i>
                        </a>
                        <a href="{% url 'task-delete' task.id %}" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger">
                          <i class="la la-times"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="3" class="text-center">
                      <p>No tasks yet. <a href="{% url 'task-add' %}">Create one</a></p>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer ">
            <div class="stats">
              <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}